<%- include ('header') %>
<div class="container">
<form method="get"  action="organize">

<label name='testando'></label>

<textarea name="texto">

</textarea>

<button class="botaofinal">Enviar</button>
</form>

</div>

<%- include ('footer') %>